
  <a href="animals/new_animal">
    <button class="btn" style="background-color:green;color:white"><p> New Animal </p></button>
  </a>
  <a href="regions/new_region">
    <button class="btn" style="background-color:green;color:white"><p> New Region </p></button>
  </a>

  <a href="sightings/new_sighting">
    <button class="btn" style="background-color:blue;color:white"><p> New Sighting </p></button>
  </a>

  <div >
    <h3>Recent Sightings:</h3>
    <div style='width: 800px;'>
      <div id="map" style='width: 800px; height: 400px;'></div>
    </div>

  </div>


</div>
